/*global*/
html, body {
	height:100%;
	margin: 0;
	padding: 0;
}
.invisible {
	display:none;
}
.main {
	min-width:100%;
	min-height:100%;
	background-color:#EEE;
}
/* In game screens */
#ticker{
	position:absolute;
	top:32px;
	height:30px;
	width:100%;
	text-align:center;
}
ul.box li{
	vertical-align:middle;
	padding:2px;
	margin:2px;
	background:#DDD;
	display:inline-block;
	text-align:center;
	list-style-type:none;
	width:100px;
	height:100px;
}
ul.box li:hover{
	background:#CCC;
}
/* Setup screens*/
.campaignselect {
	background:#CCC;
	width:600px;
	height:100px;
	margin:20px;
	text-align:center;
}
.campaignselect.bronze{
	background:rgb(150,90,56);
}
.campaignselect.silver{
	background:rgb(168,168,168);
}
.campaignselect.gold{
	background:rgb(201,137,16);
}
.campaignselect th {
	text-align:left;
}
.campaignselect:hover {
	background:#AAF;
}
.campaignselect input {
	width:100px;
}
.setup{
	background:#BBB;
}
#whichside {
	height:100%;
	width:100%;
}
#whichside div {
	text-align:center;
	vertical-align:middle;
	height:100%;
	width:50%;
}
#whichside div:hover {
	background:#BBB;
}