html, body {
	height:100%;
	margin: 0;
	padding: 0;
}
.invisible {
	display:none;
}
.main {
	min-width:100%;
	min-height:100%;
	background-color:#EEE;
}
.campaignselect {
	background:#CCC;
	width:600px;
	height:100px;
	margin:20px;
	text-align:center;
}
.campaignselect th {
	text-align:left;
}
.campaignselect:hover {
	background:#BBB;
}
.campaignselect input {
	width:100px;
}
#whichside {
	height:100%;
	width:100%;
}
#whichside div {
	text-align:center;
	vertical-align:middle;
	height:100%;
	width:50%;
}
#whichside div:hover {
	background:#BBB;
}